@font-face {
  font-family: "Inter";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./fonts/inter.ttf") format("truetype");
}

body {
  margin: 0 ;
  width: 100%;
  height: 100vh;
  background: linear-gradient(137.28deg, #677272 -5.33%, #121212 33.62%);
  background-attachment: fixed;
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #000;
  font-family: "Inter";
}

p{
  margin: 0;
}

.center{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  width: 21em;
}


@media only screen and (max-width: 768px) {
  .content{
    width: 80%;
  }
}